<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yesway.yccc.qms.dao.UserDao">
	<select id="findUserInfo" resultType="cn.yesway.yccc.qms.entity.User">
		select * from user;
	</select>
</mapper>  